{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.css">
<style>
  form {
    margin: 0;
  }

  .form-container {
    text-align: left;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  th,
  td {
    vertical-align: middle;
    text-align: center
  }
</style>
{% endblock %}

{% block content %}

<body>
  <div class="center">
    <div style="display: flex;">
      {% for recent in recents %}
      <div>
        <h1>{{ recent.menu.name }}</h1>
        <p class="text-light">{{recent.menu.description}} <br> {{user.first_name}} {{user.last_name}} </p>
        <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">Meal</th>
              <th scope="col">Description</th>
              <th scope="col">Salad</th>
              <th scope="col">Price</th>
              <th scope="col">Requested</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in recent.menu_items %}
            <tr class="table-secondary">
              <th scope="row">{{ item.meal.name }}</th>
              <td>{{ item.meal.description }}</td>
              <td>
                {% if item.meal.has_vegi %}
                {% if not recent.is_expired %}
                <form action="{% url 'order_vegi' recent.menu.id item.meal.id %}" method="post">
                  {% csrf_token %}
                  {% if item.is_vegi %}
                  <button type="submit" class="btn btn-success">Salad</button>
                  {% else %}
                  <button type="submit" class="btn btn-outline-success">Salad</button>
                  {% endif %}
                </form>
                {% else %}
                {% if item.is_vegi %}
                Salad
                {% endif %}
                {% endif %}
                {% endif %}
              </td>
              <td>RM {{ item.meal.cost }}</td>
              <td>{{ item.count }}</td>
              <td>
                {% if recent.is_expired %}
                Expired
                {% else %}
                {% if item.can_order %}
                <form action="{% url 'order_meal' recent.menu.id item.meal.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">Order</button>
                </form>
                {% else %}
                <form action="{% url 'cancel_meal' recent.menu.id item.meal.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
                {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            <tr class="table-active">
              <td scope="col"></td>
              <td scope="col"></td>
              <td scope="col"></td>
              <td scope="col"></td>
              <td scope="col"></td>
              <td scope="col">
                <form action="{% url 'report_menu' recent.menu.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning">Report</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="text-light">Expires at: {{recent.menu.expire_at}}</p>
      </div>
      {% endfor %}
    </div>
    <div class="form-container">
      <p class="text-light">Balance: RM {{ balance }}</p>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Log Out</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}