{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.css">
<style>
    form {
        margin: 0 10 auto;
    }

    .form-container {
        text-align: left;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
        margin-right: 10px;
    }

    li:last-child {
        margin-right: 0;
    }

    li a {
        display: block;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }
</style>
{% endblock %}

<body>
    <div class="center">
        <div class="form-container">
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Back</button>
            </form>
        </div>
        <ul>
            {% for report in meals_report %}
            {% if report.count %}
            <li><a href="#">
                    <div class="card border-success mb-3" style="max-width: 20rem;">
                        <div class="card-header">{{report.meal.name}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{report.count}}</h4>
                            <p class="card-text">
                                {% for employee in report.employees %}
                                {{employee}} <br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>